.categoryButtons button{
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.categoryButtons button:hover{
  background: rgba(106, 115, 208, 0.15);
  color: #fff;
  transition: .1s ease-in;
}

.categoryButtons .categoryInfo{
  display: inline-block;
  position: relative;
}

.categoryButtons .categoryInfo .information{
  visibility: hidden;
  position: absolute;
  top: -50px;
  left: 60px;
  min-width: 400px;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  z-index: 1;
  text-align: left;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}

.categoryButtons .categoryInfo:hover .information{
  visibility: visible;
}

.categoryButtons .categoryInfo .information h4{
  font-size: 15px;
  font-weight: 900;
}
.categoryButtons .categoryInfo .information p{
  font-size: 12.5px;
  line-height: 22px;
}

.categoryButtons .categoryInfo .information h4.extra-margin{
  margin-top: 30px;
}

.categoryButtons .categoryInfo .rTriangle{
  width: 30px;
  height: 60px;
  border-right: solid 30px rgb(255, 255, 255);
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
  position: absolute;
  left: -20px;
  top: 36px;
}

.warning{
  position: absolute;
  color: red;
  font-size: 13px;
}